/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
spec/support/fixtures/generated_app
# IDE related gunk
.vscode

# app related stuff
**/*.log

# rspec failure tracking
.rspec_status
